<!-- {% load static %} -->


<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <style>
        .search-field {
            display: none;
            /* Initially hide the search field */
        }
    </style>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/stylee.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>


    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <!-- <a href="./index.html"><img src="img/logo.png" alt=""></a> -->
                       
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li ><a href="homepage">Home</a></li>
                            <li><a href="#">Shop</a>
                                <ul class="dropdown">
                                    <li><a href="view_product">Products</a></li>
                                    <li><a href="/my-cart">Shopping Cart</a></li>
                                </ul>
                            </li>
                            <li class="active"><a href="#">Account</a>
                                <ul class="dropdown">
                                    <li><a href="profile">Profile</a></li>
                                    <li><a href="user_orders">Orders</a></li>
                                    <li><a href="/">Logout</a></li>

                                </ul>
                            </li>
                            <li><a href="contact">Contact</a></li> 
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <div class="shop__sidebar__search">
                            <form action="{% url 'search' %}" method="GET">
                                <input type="text" name="query" placeholder="Search...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                            
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            <div class="canvas__open" id="menuToggle"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Account</h4>
                        <div class="breadcrumb__links">
                            <a href="homepage">Home</a>
                            <span>Profile</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-9">
                    {% if msg %}
                    <script>
                        function displayErrorMessage() {
                            var msg = "{{ msg }}";
                            if (msg) {
                                alert(msg);
                            }
                        }
                    </script>



                    {% endif %}
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    Update Profile
                                </div>
                                <div class="card-body">
                                    <form method="POST" action="{% url 'updateprofile' %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="fname">Username:</label>
                                            <input type="text" name="fname" class="form-control" id="fname"
                                                value="{{ up.fname }}" pattern="[A-Za-z]{}" maxlength="20" required onkeypress="return allowOnlyLetters(event,this);" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email:</label>
                                            <input type="email" class="form-control" name="email" id="email" value="{{ up.email }}"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required >
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Password:</label>
                                            <input type="password" class="form-control" id="password" name="password"
                                                value="{{ up.password }}"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters" required>
                                        </div>
                                        <div class="form-group">

                                            <button type="submit" value="Update" class="btn btn-success">Update</button>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>
            </div>
    </section>
    <!-- Shop Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->

    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.nice-select.min.js"></script>
    <script src="../static/js/jquery.nicescroll.min.js"></script>
    <script src="../static/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/jquery.countdown.min.js"></script>
    <script src="../static/js/jquery.slicknav.js"></script>
    <script src="../static/js/mixitup.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/css/main.js"></script>

    <script language="Javascript" type="text/javascript">
        function allowOnlyLetters(e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            if ((charCode < 65 || charCode > 90) && (charCode < 97 || charCode > 122) && charCode !== 32) {
                alert("Please enter only letters and spaces.");
                return false;
            }
            return true;
        }
    </script>



</body>

</html>